<table mat-table [dataSource]="clientes" class="mat-elevation-z8">

  <ng-container matColumnDef="filial">
    <th mat-header-cell *matHeaderCellDef> Filial </th>
    <td mat-cell *matCellDef="let empresa"> {{cliente.nome}} </td>
  </ng-container>

     <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef> Nome da Filial </th>
      <td mat-cell *matCellDef="let empresa"> {{cliente.cpf}} </td>
    </ng-container>

     <ng-container matColumnDef="idRegiao">
      <th mat-header-cell *matHeaderCellDef> Região </th>
      <td mat-cell *matCellDef="let empresa"> {{cliente.Email}} </td>
    </ng-container>

    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef> Endereço </th>
      <td mat-cell *matCellDef="let empresa"> {{cliente.Renda}} </td>
    </ng-container>
  
    <ng-container matColumnDef="endereco">
      <th mat-header-cell *matHeaderCellDef> Endereço </th>
      <td mat-cell *matCellDef="let empresa"> {{cliente.FormaGarantia}} </td>
    </ng-container>

  <tr mat-header-row *matHeaderRowDef="colunasClientes"></tr>
  <tr mat-row *matRowDef="let row; columns: colunasClientes;"></tr>
</table>
