<mat-card>
  <mat-card-title> Cadastrar Aluguel </mat-card-title>
  <mat-card-content>

    <div class="alugar">
      
      <mat-card>
          <mat-card-title> Adicionar Aluguel </mat-card-title>
          <mat-card-content>
            <div class="conteudo-alugar">
              <mat-form-field>
                <mat-label for="data">Nome do aluguel</mat-label>
                <input matInput placeholder="Aluguel" type="text" name="nome" [(ngModel)]="nome" />
              </mat-form-field>
              <mat-form-field>
                <mat-label for="data">Valor da venda</mat-label>
                <input matInput placeholder="Valor" type="number" name="valor" [(ngModel)]="valor" />
              </mat-form-field>
              <mat-form-field>
                <mat-label for="data">Status da venda ("PARA ALUGAR", "ALUGADO")</mat-label>
                <input matInput placeholder="Status" type="text" name="status" [(ngModel)]="status"/>
              </mat-form-field>
              <mat-form-field>
                <mat-label for="data">Data da venda</mat-label>
                <input matInput placeholder="Data" type="date" name="data" [(ngModel)]="data"/>
              </mat-form-field>
            </div>
          </mat-card-content>
      </mat-card>

    </div>

      <mat-card-actions>
          <button mat-raised-button color="warn" (click)="Aluguel()">Cadastrar</button>
          <a mat-stroked-button routerLink="../../listar/aluguel"> Listar ALuguel </a>
      </mat-card-actions>
      
  </mat-card-content>
</mat-card>