<mat-card>
    <mat-card-title> Cadastrar Cliente </mat-card-title>
    <mat-card-content>
  
      <div class="Cliente">
        
          <mat-card>
            <mat-card-title> Adicionar Cliente </mat-card-title>
            <mat-card-content>
              <div class="conteudo-cliente">
                <mat-form-field>
                  <mat-label for="data">Nome do Cliente</mat-label>
                  <input matInput placeholder="Cliente" type="text" [(ngModel)]="cliente.nome" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="data">CPF do Cliente</mat-label>
                  <input matInput placeholder="CPF" type="text" [(ngModel)]="cliente.cpf" />
                </mat-form-field>
                <mat-form-field>
                  <mat-label for="data">E-mail do Cliente</mat-label>
                  <input matInput placeholder="E-mail" type="text" [(ngModel)]="cliente.Email"/>
                </mat-form-field>
                <mat-form-field>
                    <mat-label for="data">Renda do Cliente</mat-label>
                    <input matInput placeholder="Renda" type="number" [(ngModel)]="cliente.Renda"/>
                  </mat-form-field>
                  <mat-form-field>
                    <mat-label for="data">Forma de garantia do Cliente("TEM", "NÃO TEM")</mat-label>
                    <input matInput placeholder="Garantia" type="text" [(ngModel)]="cliente.FormaGarantia"/>
                  </mat-form-field>
              </div>
    </mat-card-content>

    <div class="button-row"> 
      <button mat-raised-button color="warn" (click)="Cliente()">Cadastrar</button>
      <a mat-stroked-button routerLink="../../listar/cliente"> Listar Clientes </a>
    </div>
  </mat-card>