<a mat-raised-button color="warn" routerLink="/venda/cadastrar">
    Novo aluguel
  </a>
  
  <br><br>
  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nome do aluguel</th>
        <th>Valor</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let aluguel of alugueis">
        <td>
          {{ aluguel._id }}
        </td>
        <td>
            {{ aluguel.nome }}
        </td>
        <td>
            {{ aluguel.valor }}
        </td>
        <td>
            {{ aluguel.status }}
        </td>
      </tr>
    </tbody>
  </table>
  