<mat-card>
    <mat-card-content>
        <mat-card class="card">
            <mat-card-title class="titulo">Editar Cliente</mat-card-title>
            <mat-card-content>
        <div class="nome-generos">
            <mat-card-subtitle>Nome</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="nome">{{cliente.nome}}</mat-label>
            <input matInput placeholder="{{cliente.nome}}" type="text" name="nome" [(ngModel)]="nome">
        </mat-form-field>
        <mat-card-subtitle>CPF</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="cpf">{{cliente.cpf}}</mat-label>
            <input matInput placeholder="{{cliente.cpf}}" type="text" name="cpf" [(ngModel)]="cpf">
        </mat-form-field>
        <mat-card-subtitle>Email</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="Email">{{cliente.Email}}</mat-label>
            <input matInput placeholder="{{cliente.Email}}" type="text" name="Email" [(ngModel)]="Email">
        </mat-form-field>
        <mat-card-subtitle>Renda</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="Renda">{{cliente.Renda}}</mat-label>
            <input matInput placeholder="{{cliente.Renda}}" type="text" name="Renda" [(ngModel)]="Renda">
        </mat-form-field>
        <mat-card-subtitle>Forma de Garantia</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="FormaGarantia">{{cliente.FormaGarantia}}</mat-label>
            <input matInput placeholder="{{cliente.FormaGarantia}}" type="text" name="FormaGarantia" [(ngModel)]="FormaGarantia">
        </mat-form-field>
    </div>
    <div class="botoes">
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="editarCliente()">Editar</button>
            <a mat-stroked-button color="warn" routerLink="../../listar">Categorias</a>
        </mat-card-actions>
    </div>
    </mat-card-content>
    </mat-card>
    </mat-card-content>
</mat-card>