<!-- <mat-card>
    <mat-card-content>
        <mat-card class="Editar-aluguel">
            <mat-card-title class="titulo">Editar Aluguel</mat-card-title>
            <mat-card-content>
        <div class="nome-generos">
            <mat-card-subtitle>Nome</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="nome">{{aluguel.nome}}</mat-label>
            <input matInput placeholder="{{aluguel.nome}}" type="text" name="nome" [(ngModel)]="nome">
        </mat-form-field>
        <mat-card-subtitle>valor</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="valor">{{aluguel.valor}}</mat-label>
            <input matInput placeholder="{{aluguel.valor}}" type="text" name="valor" [(ngModel)]="valor">
        </mat-form-field>
        <mat-card-subtitle>status</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="status">{{aluguel.status}}</mat-label>
            <input matInput placeholder="{{aluguel.Email}}" type="text" name="status" [(ngModel)]="status">
        </mat-form-field>
        <mat-card-subtitle>data</mat-card-subtitle>
        <mat-form-field>
            <mat-label for="data">{{aluguel.data}}</mat-label>
            <input matInput placeholder="{{aluguel.data}}" type="text" name="data" [(ngModel)]="data">
        </mat-form-field>
    </div>
    <div class="botoes">
        <mat-card-actions>
            <button mat-raised-button color="accent" (click)="editar()">Editar</button>
            <a mat-stroked-button color="warn" routerLink="../../listar">Categorias</a>
        </mat-card-actions>
    </div>
    </mat-card-content>
    </mat-card>
    </mat-card-content>
</mat-card> -->